body {
	font-family: 'Roboto', sans-serif;
	background: #c2e59c;   fallback for old browsers 
	background: -webkit-linear-gradient(to right, #7474BF, #348AC7); 
	background: linear-gradient(to right, #2185C5, #EDEDED); 
}


.footer{

	position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
}

#spmcopyright{
	font-size:10px;
}

.lead {
  font-size: 12px;
  font-weight: 200;
 margin-left: 50px;
}

.container{
	margin-top: 150px; /* negative value of footer height */
}

.spmhead{
	color: white;
}

.navbar{ background:#2185C5;}
.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}
.navbar-brand:hover{ color: #2111C5;}
.nav-link{ margin-right: 1em !important;}
.nav-link:hover{ background: #f4f4f4; color: #2185C5; }
.navbar-collapse{ justify-content: flex-end;}
.navbar-toggler{  background:#fff !important;}
