/*ol {
    padding :50px;
    background:lightblue;
    list-style:default;    
    margin-left: 100px;

}*/

body {
	font-family: 'Roboto', sans-serif;
	background: #c2e59c; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#64b3f4,
		#c2e59c
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1 {
	background: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}
h3 {
	background: #2780b9;
	color: yellow;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bolder;
}
li {
	margin-top: 10px;
	color: black;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	font-weight: bolder;
}
/*span {
	background: #e74c3c;
	height: 40px;
	width: 0;
	margin-right: 100px;
	text-align: center;
	display: inline-block;
	color: white;
	transition: 0.2s linear;
	opacity: 0;
}
*/
/*
li:hover span {
	width: 40px;
	opacity: 1.0;
}*/
#container {
	width: 400px;
	margin: 100px auto;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0, 0, 0, 1);
}
