body {
	font-family: 'Roboto', sans-serif;
	background: #c2e59c;   fallback for old browsers 
	background: -webkit-linear-gradient(to right, #7474BF, #348AC7);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #DAE2F8, #D6A4A4);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
}

ol{
	background: lightgray;

}